<!doctype html>
<html lang="ru">

{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="static/css.css">
{% endblock %}
{% block title %}
<title>Генератор этикеток со штрихкодом для поставщиков OZON</title>
{% endblock %}

{% block content %}
<body onload="brython()">
{% block main %}{% endblock %}
{% block footer %}{% endblock %}
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.1/brython.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.1/brython_stdlib.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script type='text/javascript' src="static/jss.js"></script>
<script type='text/python' src="static/brython_script.py"></script>
{% endblock %}
</body>
</html>
